/*
	©2016 ARPANET.RED
	
	All rights reserved.
	
	* No Warranty * 
		1.1. "As-Is".
			The Software is provided "as is,"
			with all faults, defects and errors, and without
			warranty of any kind.
			
		1.2. No Liability.
			Licensor does not warrant that
			the Software will be free of bugs, errors, viruses
			or other defects, and Licensor shall have no
			liability of any kind for the use of or inability
			to use the software, the software content or any
			associated service.
*/



/*
GOOGLE FONTS
font-family: 'Stardos Stencil', cursive;
font-family: 'Arimo', sans-serif;
font-family: 'Fjalla One', sans-serif;

COLORS
light gray: #f5f5f0
light green: #ccffcc
white: GhostWhite
T2K Yellow: #F0ab55
T2K Medium Blue: #1580bf
T2K Dark Blue: #126ca1
T2K Darker Blue: #0d4d73
Flat Form Button Color: Gray/T2K Yellow
*/

.char_sheet {
	position: absolute;
	left: 250px;
	background: GhostWhite;	
	min-width: 80%;
	margin: 10px;
}

.char_sheet_box {
	border-width: 3px;
	border-style: solid;
	boarder-color: black;
	margin: 25px;
}

.char_subtitle {
	font-size: 36pt;
	margin: 25px 0 25px 0;
}

.char_menu {
	font-family: 'Fjalla One', sans-serif;
	font-size: 24px;
	color: #126ca1;
	width: 100%;
	margin: 0;
	text-align: right;
}

.char_menubar li {
	margin-right: 15px;
	list-style-type: none;
	display: inline;
}

.char_menubar li a:LINK {
	font-style: normal;
	text-decoration: none;
	color: #126ca1;
}

.char_menubar li a:VISITED {
	font-style: normal;
	text-decoration: none;
	color: #126ca1;
}

.char_menubar li a:HOVER {	
	color: #1580bf;
	text-decoration: underline;
}

.formTable td:FIRST-CHILD {
	min-width: 200px;
	vertical-align: text-top;
}

#NativeLanguagesContainer {
	float: left;
	text-align: left;
	padding: 0;
}

#NativeLanguagesContainer ul {
	padding: 0;
	margin: 0;
}

/*
#NativeLanguagesContainer ul li {
	list-style: none;
	text-align: left;
	padding: 5px;
	background-color: white;
	border-color: LightGray;
	border-style: solid;
	border-width: 2px;
	min-width: 300px;
	margin: 0; 
}
*/

#NativeLanguagesContainer ul li {
	list-style: none;
	text-align: left;
	background: none;
	border-color: LightGray;
	border-style: solid;
	border-width: 2px;
	min-width: 300px;
	margin: 0; 
	padding-left: 10px;
}

.pendingLang {
	color: gray;
	background-color: Lavender;
	font-size: 14pt;
	min-height: 28px;
	vertical-align: middle;
}

.pendingLang > button {
	border: 1px;
	border-color: Gray;
	box-shadow:none;
	border-radius: 0px;
	float: right;
	margin-left: 5px;
	margin-right: 2px;
	font-family: 'Fjalla One', sans-serif;
	font-size: 16pt;	
}

.pendingLang > button:HOVER {
	background-color: #F0ab55;
	text-decoration: underline;
}

.failedLang {
	color: gray;
	background-color: Lavender;
	text-decoration: line-through;
}

.roll_display {
	position: absolute;
	float: left;
	background-color: GhostWhite;
	height: 200px;
	width: 200px;
	top: 450px;
	left: -200px;	
	padding: 5px;
	border-color: gray;
	border-width: 3px 3px 3px 0;
	border-style: double;
	font-size: 18pt;
}